

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }


.appIconsContainer{
    margin-top: 40vh;
    position: fixed;
    z-index: 999;
    margin-left: 92.5vw;
}

.appleStore{
  margin-top: 15vh;
  width: 9vw;
  height: 5vh;
  transform: rotate(-90deg);
  z-index: 999;
}

.playStore{
  width: 9vw;
  height: 6.5vh;
  transform: rotate(-90deg);
  z-index: 999;
}

.watsapp{
    margin-top: 10vh;
     width: 2.5vw;
     height: 5vh;
     z-index: 999;
     margin-left: 3vw;
  }

.navBar{
    /* margin-top: 5vh; */
}

.navBar{
    position: fixed;
    margin-top: 0vh;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    background-color: white;
    width: 100vw;
    height: 15vh;
    /* border: 2px solid green; */
}

.main2{
    background-image: url('../../assets/ContactUs/bg.png');
    width: 98.5vw;
    height: 97vh;
    /* background-color: rgb(142, 185, 223); */
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    padding-top: 23vh;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.content{
    text-align: center;
    margin-top: 2vh;
    font-family: "Poppins";
}

.contactContainer{
    margin-top: 8vh;
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactBox{
    border: 1px solid gray;
    width: 20vw;
    height: 32vh;
    border-radius: 5px;
    background-color: white;
}

.videoImg{
    /* margin-top: 2vh;
    margin-left: 1vw; */
    width: 3vw;
    height: 5vh;
}

.imageContainer{
    background-color: white;
    margin-top: 3vh;
    margin-left: 1vw;
    border: 1px solid rgb(201, 199, 199);
    width: 5vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.contactHeader{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
}

.contactContent{
    margin-left: 1vw;
    font-size: 15px;
}

.contactCTA{
    margin-top: 1vh;
    margin-left: 1vw;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 2vh;
    color: black;
}

.contactForm{
    /* background-color: aqua; */
    background-image: url('../../assets/ContactUs/contactbg.png');
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactOuterContainer{
    width: 60vw;
    height: 90vh;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInnerContainer{
    /* border: 2px solid gray; */
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
}

.contactFormHeader{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.contactFormMiniContent{
    text-align: center;
    margin-top: 1vh;
}

.formContainer{
    margin-top: 5vh;
}


.form{
    max-width: 400px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
}

.input {
    width: 48%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.inputEmail{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.inputPhone{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkboxContainer{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    margin: 10px 0,
}

.checkboxContainer label{
    margin-left: 0.5vw;
}

.checkbox {
    margin-left: 3px;
    margin-right: 2vw,
}

.submitButton{
    padding: 10px;
    background-color: #6e34eb;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 3vh;
}

.successMessage{
    color: green;
}


@media( max-width:600px){

    .watsapp{
        width: 8vw;
        margin-left: 5.5vw;
      }

    .navBar{
        padding-top: 10vh;
        height: 13vh;
    }

    .header{
        font-size: 24px;
    }

    .content{
        font-size: 14px;
    }

    .contactHeader{
        font-size: 20px;
    }

    .main2{
        height: auto;
        margin-bottom: 6vh;
    }

     .contactContainer{
        display: block;

     }

     .contactBox{
        margin-top: 6vh;
        width: 60vw;
        margin-left: 6vw;
     }

     .contactBox{
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .container1{
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .contactContent{
        font-size: 16px;
     }

     .contactCTA{
        font-size: 16px;
     }

     .imageContainer{
        /* margin-left: 10vw; */
        width: 10vw;
     }

     .videoImg{
        width: 8vw;
        height: 5vh;
     }

     .contactOuterContainer{
         width: 80vw;
     }

     .contactInnerContainer{
         width: 65vw;
     }

     .appIconsContainer{
        margin-left: 85vw;
    }
  
    .appleStore{
       width: 20vw;
    }
  
    .playStore{
       width: 20vw;
    }

}

@media (min-width:200px) and (max-width:350px){

    .header{
        font-size: 24px;
    }

    .content{
        font-size: 14px;
    }

    .contactHeader{
        font-size: 20px;
    }

    .contactContent{
        font-size: 16px;
     }

     .contactContainer{
       margin-left: 6vw;
     }

     .contactCTA{
        font-size: 16px;
     }

    .imageContainer{
        width: 15vw;
    }

    .contactBox{
        margin-left: 1vw;
        width: 85vw;
    }

    .contactOuterContainer{
        width: 90vw;
    }

    .contactInnerContainer{
        width: 80vw;
    }

    .contactFormHeader{
        font-size: 20px;
    }

    .appIconsContainer{
        margin-left: 82vw;
    }
    
    
      .appleStore{
        width: 25vw;
      
     }
    
     .playStore{
        width: 25vw;
     }

}