

.main{
    margin-top: 10vh;
    margin-bottom: 5vh;

    position: relative;
}

.header{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat';
}

.highlight{
    color: rgba(2, 18, 101, 1);
}

.allContentContainers{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    width: 85vw;
    overflow: scroll;
    flex-wrap: nowrap;


  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.allContentContainers::-webkit-scrollbar{
    display: none;
}

.contentHeader{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: white;
}

.content{
    color: white;
    padding-top: 2vh;
}

.contentBox{
    /* width: 30vw; */
    width: 25vw;
    height: auto;
    background-color:rgba(14, 37, 159, 1);
    border-radius: 20px;
    margin-top: 5vh;
    margin-right: 5vw;
    flex-shrink: 0;

    scroll-snap-align: start; 
}

.contentContainer{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.arrowContainer{
    margin-left: 80vw;
    display: flex;
    align-items: center;
}

.leftArrowContainer{
    border: 1px solid gray;
    width: 5vw;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leftArrowContainer img{
    height: 3vh;
    width: 2vw;
}

.leftArrowContainer:hover{
    background-color: rgba(14, 37, 159, 1);
}

.leftArrowContainer:hover img{
    content: url('../../../assets/Agents/left-arrow-2.png');
}

.rightArrowContainer{
    margin-left: 3vw;
    border: 1px solid gray;
    width: 5vw;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: rgba(14, 37, 159, 1); */
}


.rightArrowContainer img{
    height: 3vh;
    width: 2vw;
}


.rightArrowContainer:hover{
    background-color: rgba(14, 37, 159, 1);
}

.rightArrowContainer:hover img{
    content: url('../../../assets/Agents/right-arrow.png');
}

.slider {
    overflow: hidden; /* Ensure overflow is hidden to hide white space */
    width: 90vw;
  }


  @media (max-width:600px){

    .leftArrowContainer{
        height: 6vh;
        width: 10vw;
    }

    .rightArrowContainer{
        height: 6vh;
        width: 10vw;
    }

    .leftArrowContainer img{
         width: 4vw;
    }

    .rightArrowContainer img{
         width: 4vw;
    }

    .arrowContainer{
         margin-top: 3vh;
          margin-left: 40vw;
    }

    .contentBox{
        width: 85vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }
  }