



.contactForm{
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* background-color: aqua; */
    background-image: url('../../assets/ContactUs/contactbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    /* height: 130vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactOuterContainer{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 60vw;
    height: auto;
    /* height: 90vh; */
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInnerContainer{
    /* border: 2px solid gray; */
    width: 50vw;
    height: auto;
    /* height: 80vh; */
    border-radius: 10px;
}

.contactFormHeader{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.contactFormMiniContent{
    text-align: center;
    margin-top: 1vh;
}

.formContainer{
    margin-top: 5vh;
}


.form{
    max-width: 400px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
}

.input {
    width: 48%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.inputEmail{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.inputPhone{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkboxContainer{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    margin: 10px 0,
}

.checkboxContainer label{
    margin-left: 0.5vw;
}

.checkbox {
    margin-left: 3px;
    margin-right: 2vw,
}

.submitButton{
    padding: 10px;
    background-color: #6e34eb;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 3vh;
}

.successMessage{
    color: green;
}

@media (max-width:600px){

    .contactFormHeader{
        font-size: 1.3rem;
    }

    .contactOuterContainer{
        width: 90vw;
    }

    .contactInnerContainer{
        width: 80vw;
    }
}