

.main{
    padding-bottom: 10vh;
}


.header{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 32px;
    font-weight: 600;
}

.name{
    color: rgba(2, 18, 101, 1);
}

.content{
    margin-top: 5vh;
    background-color: rgba(2, 18, 101, 1);
    height: 30vh;
}

.contentHeader{
    font-size: 32px;
    font-weight: 600;
    padding-top: 2vh;
}

.content div{
    padding-top: 1vh;
    text-align: center;
    color: white;
}

.itemsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: -8vh;
}

.item{
    /* border: 1px solid gray; */
    width: 15vw;
    margin-right: 3vw;
    background-color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.item img{
    width: 6vw;
    height: 10vh;
}

.contentContainer{
    padding-top: 1vh;
}

.itemHeader{
    padding-top: 0.5vh;
    text-align: center;
    font-weight: 600;
}

.itemContent{
    padding-top: 0.5vh;
    text-align: center;
    font-size: 12px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blueviolet; */
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 5px;
    background-color: rgba(15, 65, 208, 0.1);
}

.number{
    position: absolute;
    width: 2vw;
    height: 4vh;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    margin-top: -6vh;
    margin-left: 6vw;
    background-color: white;
}

/* css for small tab screen */
@media (min-width:600px) and (max-width:840px) and (min-height:920px) and (max-height:1280px){
  
    .number{
        padding-top: 0.5vh;
        width: 5vw;
    }

    .item{
        width: 30vw;
    }

    .imageContainer img{
        width: 15vw;
    }

    .itemsContainer{
        margin-top: -12vh;
    }

}

/* css for medium tab screens */
@media (min-width:768px) and (max-width:1025px) and (min-height:1024px) and (max-height:1366px){

    .number{
        padding-top: 0.5vh;
        width: 5vw;
    }

    .item{
        width: 30vw;
    }

    .imageContainer img{
        width: 15vw;
    }

    .itemsContainer{
        margin-top: -12vh;
    }

}

@media(max-width:600px){

    .header{
        font-size: 24px;
    }

    .contentHeader{
        font-size: 24px;
    }

    .main{
        margin-top: 12vh;
    }
     
    .itemsContainer{
        display: block;
    }

    .item{
        width: 60vw;
        margin-left: 10vw;
        margin-bottom: 6vh;
    }

    .number{
        width: 8vw;
        margin-left: 28vw;
        text-align: center;
        height: 5vh;
        padding-top: 0.6vh;
        /* padding-bottom: 2vh;
        padding-top: -5vh; */
    }

    .item img{
        width: 30vw;
        height: 15vh;
    }

    .itemContent{
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 14px;
    }
}

@media (min-width:200px) and (max-width:350px){
     
    .item{
        width: 80vw;
        margin-left: 2vw;
    }

    .number{
        margin-left: 35vw;
        width: 10vw;
    }

    .itemContent{
        font-size: 14px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}


@media (min-width:340px) and (max-width:385px) and (min-height:810px) and (max-height:890px){
        
    .number{
        /* margin-top: 2vh; */
        text-align: center;
        padding-top: 0.8vh;
    }

    .itemsContainer{
        margin-top: -15vh;
    }


}