.main {
  padding-top: 18vh;
  padding-bottom: 10vh;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #F7F7F7;
  /* border: 2px solid green; */
}

.header {
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat";
}

.newsContainer {
  padding-top: 5vh;
  display: flex;
  overflow: scroll;
  padding-bottom: 5vh;
}

.newsImage img{
  width: auto;
  height: 5rem;
}

.newsImage{
  margin-left: 6vw;
}

.newsContainer div {
  cursor: pointer;
}

.newsContainer div:hover {
  /* transform: scale(1.08); */
}

.newsContainer::-webkit-scrollbar {
  display: none;
}

.card {
  width: 23vw;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
  margin-right: 4vw;
  height: 45vh;
  border-radius: 5px;
  margin-left: 2vw;
}

.card:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.imageContainer {

}

.image{
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
  border-radius: 5px;
  height: 25vh;
  width: 23vw;
  object-fit: cover;
}

.content {
    padding-top: 2vh;
    font-size: 16px;
    font-weight: 600;
    padding-left: 1vw;
}

.readMore {
    padding-top: 3vh;
   font-weight: 600;
   padding-left: 1vw;
}


@media (max-width:600px){

  .main{
    padding-top: 8vh;
    padding-bottom: 6vh;
  }

  .newsContainer{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .newsImage img{
    width: auto;
    height: 3rem;
  }

  .newsImage{
     margin-left: 10vw;
  }

  .header{
    font-size: 24px;
  }

  .newsContainer > *{
    display: flex;
    flex-shrink: 0;
  }

  .card{
    width: 60vw;
    display: block;
  }

  .card .image{
     width: 59vw;
  }

}

@media (min-width:200px) and (max-width:270px){

     
  .main{
    padding-top: 8vh;
    padding-bottom: 6vh;
  }

  .newsContainer{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

      .card{
        width: 80vw;
        height: 50vh;
      }

      .card .image{
         width: 79vw;
      }

      .content{
          font-size: 16px;
      }

      .readMore{
          font-size: 14px;
      }
}

@media (min-width:270px) and (max-width:400px){

  
  .main{
    padding-top: 8vh;
    padding-bottom: 6vh;
  }

  .newsContainer{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .card{
    width: 80vw;
    height: 45vh;
  }

  .card .image{
     width: 79vw;
  }

  .content{
    font-size: 16px;
}

 .readMore{
    font-size: 13px;
    /* padding-bottom: 1vh; */
  }



}