
* {
    box-sizing: border-box;
    /* flex-shrink: 0; */
  
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }

  .main{
   
  }

  .appIconsContainer{
      margin-top: 40vh;
      position: fixed;
      z-index: 999;
      margin-left: 92.5vw;
  }

  .appIconsContainer div{
     cursor: pointer;
  }

  .appleStore{
    margin-top: 15vh;
    width: 9vw;
    height: 5vh;
    transform: rotate(-90deg);
    z-index: 999;
  }

  .playStore{
    width: 9vw;
    height: 6.5vh;
    transform: rotate(-90deg);
    z-index: 999;
  }

  .watsapp{
    margin-top: 10vh;
     width: 2.5vw;
     height: 5vh;
     z-index: 999;
     margin-left: 3vw;
  }

.navbar{
    position: fixed;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;

    width: 98vw;
}

.nav{
    position: fixed;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999; 
    width: 98.7vw;
    height: 15vh;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

}

.banner{
    /* border: 5px solid green; */
}


/* CSS for Tablet Screens */
@media (min-width: 600px) and (max-width: 1034px) {

  .nav{
    width: 100vw;
    overflow: hidden;
  }

}


@media (max-width:600px) {




  .nav{
    padding-top: 8vh;
    height: 13vh;
    padding-bottom: 2vh;
    width: 100vw;
  }

  .appIconsContainer{
      margin-left: 85vw;
  }

  .appleStore{
     width: 20vw;
  }

  .playStore{
     width: 20vw;
  }

  
  .watsapp{
    width: 8vw;
    margin-left: 5.5vw;
  }
}

@media (min-width:600px) and (max-width:1200px){

  .appIconsContainer{
    margin-left: 92vw;
  }

}

@media (min-width:200px) and (max-width:330px) {

  .appIconsContainer{
    margin-left: 80vw;
}


  .appleStore{
    width: 25vw;
  
 }

 .playStore{
    width: 25vw;
 }

 .watsapp{
  width: 8vw;
  margin-left: 8vw;
}


}

@media (min-width:340px) and (max-width:385px) and (min-height:810px) and (max-height:890px){

  .appIconsContainer{
    margin-left: 78vw;
    margin-top: 20vh;
}


  .appleStore{
    width: 30vw;
    height: 4vh;
  
 }

 .playStore{
    width: 30vw;
    height: 5vh;
 }

 .watsapp{
  width: 10vw;
  margin-left: 9vw;
}

}

@media (min-width:200px) and (max-width:400px) and (min-height:600px) and (max-height:900px){

  /* .appIconsContainer{
    margin-left: 73vw;
}


  .appleStore{
    width: 35vw;
    height: 5vh;
  
 }

 .playStore{
    width: 35vw;
    height: 6vh;
 }

 .watsapp{
  width: 12vw;
  margin-left: 12vw;
} */

}