
.main{
    padding-left: 4vw;
    padding-right: 4vw;
}


.header{
    margin-top: 8vh;
    font-size: 30px;
    font-weight: 600;
}


.imagesContainer{
    margin-top: 3vh;
    display: flex;
}

.image1{
    width: 30vw;
    height: 70vh;
    margin-right: 2vw;
    background-image: url('../../assets/coown/img1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid gray; */
    border-bottom-left-radius: 30%;
}

.image2{
    width: 50vw;
    height: 70vh;
    margin-right: 2vw;
    background-image: url('../../assets/coown/img2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid gray; */
}

.image3{
    width: 30vw;
    height: 70vh;
    margin-right: 2vw;
    background-image: url('../../assets/coown/img3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid gray; */
}

.content{
     padding-left: 3vw;
    padding-right: 3vw;
    font-size: 25px;
    font-weight:600;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}